.sign-in {
   width: 380px;
   display: flex;
   flex-direction: column;

   .title {
      margin: 10px 0;
   }

   .error {
      color: red;
   }

   .buttons {
      display: flex;
      justify-content: space-between;
   }
}
